.container {
    display: grid;
    place-items: center;
}

.headline {
    font-weight: bold;
    margin: 30px 10px 10px 10px;
    color: rgb(70, 179, 243);
}

.questions {
    width: 95%;
    max-width: 800px;
}