@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --text-color: #d2d2d2;
}

.defaultText {
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
}

.button {
    padding: 12px 30px 12px 30px;
    background-color: rgb(70, 179, 243);
    border: solid 2px rgb(72, 182, 246);
    border-radius: 13px;

}

.button:hover {
    color: rgb(70, 179, 243);
    background-color: white;
    border: solid 2px rgb(72, 182, 246);
}

.image {
    border-radius: 10px;
    border: #fafafa 5px solid;
    max-height: none;
    max-width: 60%;
}

.defaultBackground {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;

    background-color: black;
    color: white;
}

.notfound {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 550px;
    max-width: 90%;
}

.error {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 550px;
    max-width: 90%;
}

@media only screen and (max-width: 500px) {
    .image {
        max-height: none;
        max-width: 100%;
        margin-bottom: 10px;
    }
}
