.headline {
    font-weight: bold;
    color: rgb(70, 179, 243);
}

.container {
    display: grid;
    place-items: center;
    margin-top: 30px;
}

.content {
    width: 90%;
    max-width: 1000px;
}

.entryWrapper {
    padding-left: 10px;
    border-left: 4px solid rgb(70, 179, 243);
}
