.container {
    display: grid;
    place-items: center;
}

.headline {
    font-weight: bold;
    margin-top: 30px;
    color: rgb(70, 179, 243);
}

.question {
    width: 95%;
    max-width: 1000px;
}