.selectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  width: 90%;
  max-width: 550px;
  height: fit-content;

  border: 1px solid #232323;
  border-radius: 20px;

  padding: 10px;

  background: linear-gradient(0deg, rgba(87, 87, 87, 0.16), rgba(5, 206, 69, 0));
}

.examText {
  font-size: 22px;
  color: var(--text-color);
}

.dropDownButton {
  height: 22px;
  color: var(--text-color);
}

.examSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  border: 1px solid #232323;
  border-radius: 15px;

  padding: 15px;
}