.navigation {
    background-color: transparent;
    height: 5vh;
}

.container {
    width: 800px;
    max-width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: x-large;
}

.navLink {
    color: white;
}

.dropdownItem {
    color: rgb(70, 179, 243);
}

.logo {
    margin-top: 0;
    transform: scale(1.1);
}

.offCanvas {
    background-color: rgb(70, 179, 243);
}

.toggle {
    border: white 0;
}