@import '../../styles/mixins.scss';

.navbarContainer {
    display: flex;
    justify-content: center;

    height: 55px;
    width: 100%;

    position: fixed;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    max-width: 550px;
}

.navLink {
    display: flex;
    align-items: center;

    text-decoration: none;
    color: var(--text-color);
    font-size: 19px;

    @include defaultTextHover;
}

.navIcon {
    height: 15px;
    margin-right: 5px;
    margin-bottom: 3px;
}
