.navigation {
    background-color: rgb(70, 179, 243);
    width: 100%;
}

.container {
    width: 800px;
    max-width: 100%;
}

.brand {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
}

.navLink {
    color: white;
}

.dropdownItem {
    color: rgb(70, 179, 243);
}

.logo {
    margin-top: 2px;
}

.offCanvas {
    background-color: rgb(70, 179, 243);
}

.toggle {
    border: white 0;
}