@import '../../styles/mixins.scss';

.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.button {
  padding: 15px 25px;
  cursor: pointer;

  border: 1px solid rgba(21, 21, 21, 0.7);
  border-radius: 15px;
  background: rgba(0, 0, 0);

  @include defaultButtonHover;
}

.arrowIcon {
  color: var(--text-color);
}