@import '../../styles/mixins.scss';

.heading {
    font-weight: bold;
    color: var(--text-color);
    word-wrap: anywhere;
}

.optionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    margin-top: 17px;
}

.optionContainer input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.optionContainer input[type=checkbox] + label {
    color: var(--text-color);
    font-size: 18px;
    min-height: 50px;
    cursor: pointer;

    @include defaultButtonHover;
}

.optionContainer input[type=checkbox]:checked + label {
    font-weight: bold;
    border: 1px solid #212121;
    background: rgba(23, 33, 57, 0.7);
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.optionLabel {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px 20px;
    width: 100%;
    height: 100%;
}

.optionText {
    font-size: 20px;
    color: var(--text-color);
}

.explanation {
    margin-top: 15px;
    padding: 7px;
    background-color: #1a1a1a;
    border-radius: 5px;
    word-wrap: anywhere;
}