@mixin defaultTextHover {
  transition: color 300ms ease-in-out,
  font-weight 300ms ease-in-out;

  &:hover {
    font-weight: bold;
    color: #e5e5e5;
    background-color: transparent !important;
    cursor: pointer;
  }
}

@mixin defaultButtonHover {
  transition: background 300ms ease-in-out;
  background: rgba(15, 20, 34, 0.7);
  border: 1px solid rgba(21, 21, 21, 0.9);
  border-radius: 15px;

  &:hover {
    background: rgba(18, 25, 44, 0.7);
  }
}