.notfound {
    margin: 50px 20px;
}

.error {
    margin: 50px 20px;
}

.button {
    padding: 12px 30px 12px 30px;
    background-color: rgb(70, 179, 243);
    border: solid 2px rgb(72, 182, 246);
}

.button:hover {
    color: rgb(70, 179, 243);
    background-color: white;
    border: solid 2px rgb(72, 182, 246);
}
