.navigation {
    background-color: rgb(70, 179, 243);
    width: 100%;
}

.container {
    width: 800px;
    max-width: 100%;
}

.brand {
    color: white;
    font-weight: bold;
}

.link {
    color: white;
}

.logo {
    margin-bottom: 3px;
}