.container {
    margin: 20px 0 20px 0;
    padding: 15px;
    border-radius: 10px;
    background-color: aliceblue;
}

.explanation {
    margin-top: 15px;
    padding: 7px;
    background-color: #9fea9f;
    border-radius: 5px;
}