.container {
    padding: 15px 0 5px 15px;
    border-radius: 10px;
    background-color: aliceblue;
    border-left: rgb(70, 179, 243) solid 10px;
}

.statusbar {
    background-color: rgb(70, 179, 243);
    border-top: 1px solid #ccc;
    padding: 10px;
}